# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/cmake-build-debug/
/build/
/cmake-build-release/
/.idea/.gitignore
/.idea/.name
/.idea/deployment.xml
/.idea/editor.xml
/.idea/encodings.xml
/.idea/sptScript.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/spt.iml
sptxx/build/cmake_install.cmake
sptxx/build/CMakeCache.txt
sptxx/build/Makefile
sptxx/build/sptxx_test
sptxx/build/sptxx_test_comprehensive
sptxx/build/sptxx_test_debug
sptxx/build/sptxx_test_debug2
sptxx/build/sptxx_test_map_validation
sptxx/build/sptxx_test_ref
sptxx/build/sptxx_test_registry_ref
sptxx/build/sptxx_test_simple
sptxx/build/sptxx_test_syntax
sptxx/build/sptxx_test_usertype
sptxx/build/sptxx_test_usertype_debug
sptxx/build/sptxx_test_usertype_debug2
sptxx/build/sptxx_test_usertype_minimal
sptxx/build/CMakeFiles/cmake.check_cache
sptxx/build/CMakeFiles/CMakeConfigureLog.yaml
sptxx/build/CMakeFiles/CMakeDirectoryInformation.cmake
sptxx/build/CMakeFiles/Makefile.cmake
sptxx/build/CMakeFiles/Makefile2
sptxx/build/CMakeFiles/progress.marks
sptxx/build/CMakeFiles/TargetDirectories.txt
sptxx/build/CMakeFiles/3.26.5/CMakeCXXCompiler.cmake
sptxx/build/CMakeFiles/3.26.5/CMakeDetermineCompilerABI_CXX.bin
sptxx/build/CMakeFiles/3.26.5/CMakeSystem.cmake
sptxx/build/CMakeFiles/3.26.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
sptxx/build/CMakeFiles/Export/5abff0eff412c83c3599a81df7080482/sptxx-config.cmake
sptxx/build/CMakeFiles/sptxx_test.dir/build.make
sptxx/build/CMakeFiles/sptxx_test.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_debug.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_debug.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_debug.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_debug.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_debug.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_debug.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_debug.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_debug.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_debug.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_ref.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_ref.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_ref.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_ref.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_ref.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_ref.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_ref.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_ref.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_ref.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_simple.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_simple.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_simple.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_simple.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_simple.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_simple.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_simple.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_simple.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_simple.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_usertype.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/progress.make
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/build.make
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/cmake_clean.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/compiler_depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/compiler_depend.ts
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/depend.make
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/DependInfo.cmake
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/flags.make
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/link.txt
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/progress.make
sptxx/build/sptxx_test_usertype_debug3
sptxx/build/sptxx_test_usertype_trace
sptxx/build/CMakeFiles/sptxx_test.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_comprehensive.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_debug.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_debug2.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_map_validation.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_ref.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_registry_ref.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_simple.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_syntax.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_usertype_debug.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_usertype_debug2.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_usertype_debug3.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_usertype_minimal.dir/compiler_depend.internal
sptxx/build/CMakeFiles/sptxx_test_usertype_trace.dir/compiler_depend.internal
/sptxx/cmake-build-debug/.cmake/api/v1/query/cache-v2
/sptxx/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/sptxx/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/sptxx/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/sptxx/cmake-build-debug/.cmake/api/v1/reply/cache-v2-99c4e2a0f26ea19d01a0.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-94d0b8081409b4e0dc52.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0450ecfc2a602601e0db.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-7a29a1aa7a3e001d8325.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/index-2026-03-15T10-59-21-0054.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test-Debug-3f5bf0a22a256bfc75b0.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_comprehensive-Debug-9bd19162e04a65c06bb8.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_debug2-Debug-5b7a92fe6e3bb6275aa8.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_debug-Debug-1a065b3ca7f0a5e34393.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_map_validation-Debug-cc550c7e390445e8088a.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_ref-Debug-e8ffc05005ba97bf2316.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_registry_ref-Debug-4cc46abfbda126bfc552.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_simple-Debug-8a53e53af91546cf4f3d.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_syntax-Debug-d4185b355ba6febed7eb.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_usertype-Debug-a4a28477851db7a5b4b1.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_usertype_debug2-Debug-7b8b0150a34934f9edeb.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_usertype_debug3-Debug-254b77cd3a4794e82cff.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_usertype_debug-Debug-fb6e0bfb44c67b8f3d4d.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_usertype_minimal-Debug-f3eed3e247823788aaae.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/target-sptxx_test_usertype_trace-Debug-042462c10302456b2769.json
/sptxx/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-8e68548dcd1bc0434ccd.json
/sptxx/cmake-build-debug/CMakeFiles/4.1.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/sptxx/cmake-build-debug/CMakeFiles/4.1.2/CMakeCXXCompiler.cmake
/sptxx/cmake-build-debug/CMakeFiles/4.1.2/CMakeDetermineCompilerABI_CXX.bin
/sptxx/cmake-build-debug/CMakeFiles/4.1.2/CMakeRCCompiler.cmake
/sptxx/cmake-build-debug/CMakeFiles/4.1.2/CMakeSystem.cmake
/sptxx/cmake-build-debug/CMakeFiles/Export/5abff0eff412c83c3599a81df7080482/sptxx-config.cmake
/sptxx/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/sptxx/cmake-build-debug/CMakeFiles/clion-environment.txt
/sptxx/cmake-build-debug/CMakeFiles/cmake.check_cache
/sptxx/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/sptxx/cmake-build-debug/CMakeFiles/InstallScripts.json
/sptxx/cmake-build-debug/CMakeFiles/rules.ninja
/sptxx/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/sptxx/cmake-build-debug/Testing/Temporary/LastTest.log
/sptxx/cmake-build-debug/.ninja_deps
/sptxx/cmake-build-debug/.ninja_log
/sptxx/cmake-build-debug/build.ninja
/sptxx/cmake-build-debug/cmake_install.cmake
/sptxx/cmake-build-debug/CMakeCache.txt
/gen/LangLexer.interp
/gen/LangLexer.java
/gen/LangLexer.tokens
